.board{
    display: flex;
    flex-wrap: wrap;
}

.square {    
    height: 100px;  
    flex: 1 1 20%;  
}

.square:nth-child(odd){
    background-color: black;
}

.square:nth-child(even){
    background-color: cyan;
}

